@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply font-extrabold text-4xl md:text-5xl text-center lg:text-left mb-6;
  }

  h2 {
    @apply font-bold text-2xl md:text-3xl text-center text-[#222222] mx-8 md:mx-20;
  }

  .header {
    @apply flex fixed justify-between items-center w-full mt-6  px-8 md:px-20;
  }

  span {
    @apply pb-1;
  }

  button {
    @apply w-full md:w-max md:px-12 py-3 rounded-full font-semibold bg-[#52b788] duration-200 ease-in-out text-white;
  }

  .text-input {
    @apply w-full border border-[#dddddd] px-4 py-3 rounded-md text-[#212121] ring-transparent;
  }

  .testimonial-profile {
    @apply w-16 aspect-square rounded-full bg-white bg-cover border-4 border-[#212121] bg-center;
  }

  .hero {
    @apply grid grid-cols-1 lg:grid-cols-2 md:gap-24 items-center justify-center;
  }

  .final-cta {
    @apply flex flex-col justify-center items-center bg-[#f4f4f4] px-8 md:px-12 mt-24 pt-24 pb-24;
  }

  .legal-title {
    @apply font-semibold text-lg pb-2;
  }

  .legal-text {
    @apply font-medium;
  }   

  .legal-button {
    @apply flex items-center gap-2 text-base bg-gradient-to-r from-[#212121] to-[#212121] bg-[#212121] font-medium text-white w-max hover:scale-100 px-4 py-2;
  }

  .legal-doc {
    @apply flex justify-center items-center w-full px-8 md:px-20 py-24;
  } 
}
